:root {
    --light-background-color: #f4f4f4;
    --light-surface-color: #fff;
    --light-surface-hover-color: #f8f8f8;
    --light-primary-text-color: #333;
    --light-secondary-text-color: #777;
    --light-accent-color: #2980b9;

    --dark-background-color: #121212;
    --dark-surface-color: #1e1e1e;
    --dark-surface-hover-color: #2a2a2a;
    --dark-primary-text-color: #e6e6e6;
    --dark-secondary-text-color: #999;
    --dark-accent-color: #62aae8;

    --background-color: light-dark(var(--light-background-color),var(--dark-background-color));
    --surface-color: light-dark(var(--light-surface-color),var(--dark-surface-color));
    --surface-hover-color: light-dark(var(--light-surface-hover-color),var(--dark-surface-hover-color));
    --primary-text-color: light-dark(var(--light-primary-text-color),var(--dark-primary-text-color));
    --secondary-text-color: light-dark(var(--light-secondary-text-color),var(--dark-secondary-text-color));
    --accent-color: light-dark(var(--light-accent-color),var(--dark-accent-color));

    color-scheme: light dark;
}
/* General page styling */
body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--primary-text-color);
    margin: 0;
    padding: 20px;
}

/* Styling for movie titles */
h2 {
    font-size: 24px;
    color: var(--accent-color);
    margin-bottom: 10px;
    border-bottom: 2px solid var(--accent-color);
    padding-bottom: 5px;
}

/* Styling for budget and box office information */
p {
    font-size: 18px;
    margin: 5px 0;
    padding-left: 10px;
    line-height: 1.5;
}


/* Container for each movie */
.movie {
    background-color: var(--surface-color);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 480px;
    margin-left: auto;
    margin-right: auto;
}
.money {
    color: var(--secondary-text-color);
}

.movie:hover {
    background-color: var(--surface-hover-color);
    scale: 1.05;
    transition: scale 0.2s;
}

.page-title, .movie-count {
    text-align: center;
}


/* Styling for the list of actors */
ul {
    padding-left: 64px;
    margin-top: 10px;
    margin-bottom: 0;
}

ul li {
    font-size: 18px;
    line-height: 1.5;
    list-style-type: disc;
}

/* Adding spacing between budget and box office */
p + p {
    margin-top: 10px;
}

/* Optional: Styling for a more polished look */
.movie:last-child {
    margin-bottom: 0;
}
